header {
    background-color: blue;
    color: white;
    text-align: right;
    padding-right: 25%;
}

header h1 {
    padding-top: 5px;
    padding-bottom: 5px;
}

main {
    display: flex;
    justify-content: space-between;
}

main aside {
    width: 30%;
    display: inline-block;
}

main aside div {
    margin: 20px;
    border-bottom: solid 2px gray;
}

main aside p {
    background-color: lightgray;
    color: black;
    text-align: center;
    border-radius: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
}

main #result-wrapper {
    display: flex;
    display: inline-block;
    width: 100%;
}

main #currentDayResult {
    width: 100%;
    display: flex;
    flex-direction: column;
}

main #fiveDayResult {
    width: 70%;
    display: flex;
    flex-direction: column;
}

#search {
    width: 100%;
    height: 25px;
    background-color: #A7C7E7;
    color: white;
    border-radius: 3px;
    margin-bottom: 10px;
    border-width: 1px;
}

#search-field {
    width: 95%;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 3px;
    border-width: 1px;
    padding-left: 10px;
}

#search-history {
    border-width: 0px;
}
